
.navbar {
display: flex;
background-color: black;
}
.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(201, 215, 215);
}
.nav-list a:hover {
    background-color: rgb(48, 46, 46);    
}
.nav-btn{
    display: none;

}
.nav-btn:hover{
    background-color: rgb(48, 46, 46);
}
@media (max-width: 1000px) {
.nav-btn{
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 2px;
    border: none;
    background-color: black;
    color: rgb(201, 215, 215);
    display: block;
    cursor: pointer;
}
.nav-list{
    display: none;
}
.drop:hover .nav-list{
    display: block;
    position: absolute;
    right: 1px;
    background-color: black;
}
.navbar{
    justify-content: space-between;
}

}
